<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- 
    	Esta cadena de conexión es para un servidor con autenticación de Windows.
    	Para utilizar autenticación mixta (SQL Server Authentication), se debe especificar el usuario y la contraseña en la cadena de conexión. 
    	Ejemplo de autenticación mixta:
    	connectionString="Data Source=ServerName;Initial Catalog=master;User ID=tuUsuario;Password=tuContraseña"
	    Cambiar ServerName por el nombre de tu servidor de SQL y en caso de tener usuario y contraseña cambiar tuUsuario por el usuario y 
	    tuContraseña por la contraseña.
 	 -->
    <add name="MiCadenaConexion"
         connectionString="Data Source=ServerName;Initial Catalog=master;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>